In [1]:
# Nico T. Solitana
# MS Computer Science
# De La Salle University - Manila

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# Loading dataset and preparation
url = 'Sort Datasets.xlsx'
randLst = pd.read_excel(url, sheet_name='Random', header=None).values.flatten().tolist()
randLst_Ngroups = []
randLst_Ngroups.append(randLst[999::1000])      # 100
randLst_Ngroups.append(randLst[499::500])       # 200
randLst_Ngroups.append(randLst[199::200])       # 500
randLst_Ngroups.append(randLst[99::100])        # 1,000
randLst_Ngroups.append(randLst[49::50])         # 2,000
randLst_Ngroups.append(randLst[19::20])         # 5,000
randLst_Ngroups.append(randLst[9::10])          # 10,000
randLst_Ngroups.append(randLst[4::5])           # 20,000
randLst_Ngroups.append(randLst[1::2])           # 50,000
randLst_Ngroups.append(randLst[0::1])           # 100,000

realLst = pd.read_excel(url, sheet_name='Realistic', header=None).values.flatten().tolist()
realLst_Ngroups = []
realLst_Ngroups.append(realLst[999::1000])      # 100
realLst_Ngroups.append(realLst[499::500])       # 200
realLst_Ngroups.append(realLst[199::200])       # 500
realLst_Ngroups.append(realLst[99::100])        # 1,000
realLst_Ngroups.append(realLst[49::50])         # 2,000
realLst_Ngroups.append(realLst[19::20])         # 5,000
realLst_Ngroups.append(realLst[9::10])          # 10,000
realLst_Ngroups.append(realLst[4::5])           # 20,000
realLst_Ngroups.append(realLst[1::2])           # 50,000
realLst_Ngroups.append(realLst[0::1])           # 100,000

convLst = pd.read_excel(url, sheet_name='Contrived', header=None).values.flatten().tolist()
convLst_Ngroups = []
convLst_Ngroups.append(convLst[999::1000])      # 100
convLst_Ngroups.append(convLst[499::500])       # 200
convLst_Ngroups.append(convLst[199::200])       # 500
convLst_Ngroups.append(convLst[99::100])        # 1,000
convLst_Ngroups.append(convLst[49::50])         # 2,000
convLst_Ngroups.append(convLst[19::20])         # 5,000
convLst_Ngroups.append(convLst[9::10])          # 10,000
convLst_Ngroups.append(convLst[4::5])           # 20,000
convLst_Ngroups.append(convLst[1::2])           # 50,000
convLst_Ngroups.append(convLst[0::1])           # 100,000

In [3]:
# Selection Sort
def SelectionSort(lst, n):
  count = 0
  for i in range(n):
    min = i
    for j in range(i+1, n):
      count += 1
      if(lst[j] < lst[min]):
        min = j  
    lst[i], lst[min] = lst[min], lst[i]
  # print(lst)
  return count

In [4]:
# Bubble Sort
def BubbleSort(lst, n):
  count = 0
  for i in range(n-1, -1, -1):
    for j in range(1, i):
      count += 1
      if(lst[j-1] > lst[j]):
        lst[j-1], lst[j] = lst[j], lst[j-1]
  # print(lst)
  return count

In [5]:
# Insertion Sort
def InsertionSort(lst, n):
  count = 0
  for j in range(1, n):
    key = lst[j]
    i = j-1
    while ((i>0) and (lst[i]>key)):
      count += 1
      lst[i+1] = lst[i]
      i-=1
    lst[i+1] = key
  # print(lst)
  return count

In [6]:
# Preparing Growth Chart Data
def GetGrowthData(sort_algo, lst):
    i=0
    growth_data = []
    while(i < len(lst)):   
        freq = sort_algo(lst[i], len(lst[i]))
        init_data = []
        init_data.append(len(lst[i]))
        init_data.append(freq)
        growth_data.append(init_data)
        i+=1

    growth_df = pd.DataFrame(growth_data, columns=['size','frequency'])
    return growth_df

In [7]:
randdata = GetGrowthData(SelectionSort, randLst_Ngroups)
realdata = GetGrowthData(SelectionSort, realLst_Ngroups)
convdata = GetGrowthData(SelectionSort, convLst_Ngroups)
data = randdata
data['frequency_real'] = realdata['frequency']
data['frequency_conv'] = convdata['frequency']

In [8]:
data.head(11)

     size   frequency  frequency_real  frequency_conv
0     100        4950            4950            4950
1     200       19900           19900           19900
2     500      124750          124750          124750
3    1000      499500          499500          499500
4    2000     1999000         1999000         1999000
5    5000    12497500        12497500        12497500
6   10000    49995000        49995000        49995000
7   20000   199990000       199990000       199990000
8   50000  1249975000      1249975000      1249975000
9  100000  4999950000      4999950000      4999950000

In [7]:
ins_randdata = GetGrowthData(InsertionSort, randLst_Ngroups)
ins_realdata = GetGrowthData(InsertionSort, realLst_Ngroups)
ins_convdata = GetGrowthData(InsertionSort, convLst_Ngroups)
ins_sort = ins_randdata
ins_sort['frequency_real'] = ins_realdata['frequency']
ins_sort['frequency_conv'] = ins_convdata['frequency']

In [8]:
ins_sort.head(10)

     size   frequency  frequency_real  frequency_conv
0     100        2644            2356            4851
1     200       10339            9577           19701
2     500       66715           60229          124251
3    1000      255189          236836          498501
4    2000     1008247          928623         1997001
5    5000     6149323         5739852        12492501
6   10000    24831461        23008701        49985001
7   20000   100380575        91813374       199970001
8   50000   624375398       575820757      1249925001
9  100000  2499906710      2301700503      4999850001

In [11]:
bub_randdata = GetGrowthData(BubbleSort, randLst_Ngroups)
bub_realdata = GetGrowthData(BubbleSort, realLst_Ngroups)
bub_convdata = GetGrowthData(BubbleSort, convLst_Ngroups)
bub_sort = bub_randdata
bub_sort['frequency_real'] = bub_realdata['frequency']
bub_sort['frequency_conv'] = bub_convdata['frequency']

In [12]:
bub_sort.head(10)

     size   frequency  frequency_real  frequency_conv
0     100        4851            4851            4851
1     200       19701           19701           19701
2     500      124251          124251          124251
3    1000      498501          498501          498501
4    2000     1997001         1997001         1997001
5    5000    12492501        12492501        12492501
6   10000    49985001        49985001        49985001
7   20000   199970001       199970001       199970001
8   50000  1249925001      1249925001      1249925001
9  100000  4999850001      4999850001      4999850001