In [ ]:
# Nico T. Solitana
# MS Computer Science
# De La Salle University - Manila

import numpy as np
import pandas as pd
import sys
sys.setrecursionlimit(50000000)

In [ ]:
# Loading dataset and preparation
url = '/content/drive/MyDrive/Algo/Dataset/Sort Datasets.xlsx'
randLst = pd.read_excel(url, sheet_name='Random', header=None).values.flatten().tolist()
randLst_Ngroups = []
randLst_Ngroups.append(randLst[999::1000])      # 100
randLst_Ngroups.append(randLst[499::500])       # 200
randLst_Ngroups.append(randLst[199::200])       # 500
randLst_Ngroups.append(randLst[99::100])        # 1,000
randLst_Ngroups.append(randLst[49::50])         # 2,000
randLst_Ngroups.append(randLst[19::20])         # 5,000
randLst_Ngroups.append(randLst[9::10])          # 10,000
randLst_Ngroups.append((randLst[4::6])[:15000]) # 15,000
randLst_Ngroups.append(randLst[4::5])           # 20,000

realLst = pd.read_excel(url, sheet_name='Realistic', header=None).values.flatten().tolist()
realLst_Ngroups = []
realLst_Ngroups.append(realLst[999::1000])      # 100
realLst_Ngroups.append(realLst[499::500])       # 200
realLst_Ngroups.append(realLst[199::200])       # 500
realLst_Ngroups.append(realLst[99::100])        # 1,000
realLst_Ngroups.append(realLst[49::50])         # 2,000
realLst_Ngroups.append(realLst[19::20])         # 5,000
realLst_Ngroups.append(realLst[9::10])          # 10,000
realLst_Ngroups.append((realLst[4::6])[:15000])  # 15,000
realLst_Ngroups.append(realLst[4::5])           # 20,000

convLst = pd.read_excel(url, sheet_name='Contrived', header=None).values.flatten().tolist()
convLst_Ngroups = []
convLst_Ngroups.append(convLst[999::1000])      # 100
convLst_Ngroups.append(convLst[499::500])       # 200
convLst_Ngroups.append(convLst[199::200])       # 500
convLst_Ngroups.append(convLst[99::100])        # 1,000
convLst_Ngroups.append(convLst[49::50])         # 2,000
convLst_Ngroups.append(convLst[19::20])         # 5,000
convLst_Ngroups.append(convLst[9::10])          # 10,000
convLst_Ngroups.append((convLst[4::6])[:15000])  # 15,000
convLst_Ngroups.append(convLst[4::5])           # 20,000

In [ ]:
count = 0
def partition(arr, low, high):
    i = (low-1)         # index of smaller element
    pivot = arr[high]     # pivot
  
    for j in range(low, high):
  
        # If current element is smaller than or
        # equal to pivot
        global count
        count = count + 1
        if arr[j] <= pivot:
  
            # increment index of smaller element
            i = i+1
            arr[i], arr[j] = arr[j], arr[i]
  
    arr[i+1], arr[high] = arr[high], arr[i+1]
    return (i+1)
  
# The main function that implements QuickSort
# arr[] --> Array to be sorted,
# low  --> Starting index,
# high  --> Ending index
  
# Function to do Quick sort
def quickSort(arr, low, high):
    if len(arr) == 1:
        return arr
    if low < high:
  
        # pi is partitioning index, arr[p] is now
        # at right place
        pi = partition(arr, low, high)
  
        # Separately sort elements before
        # partition and after partition
        quickSort(arr, low, pi-1)
        quickSort(arr, pi+1, high)

In [ ]:
# Preparing Growth Chart Data
def SimulateQuickSort(sort_algo, lst):
    i=0
    growth_data = []
    while(i < len(lst)):   
        sort_algo(lst[i], 0, len(lst[i])-1)
        freq = count
        init_data = []
        init_data.append(len(lst[i]))
        init_data.append(freq)
        print('Length: {}, Frequency: {} '.format(len(lst[i]), freq))
        growth_data.append(init_data)
        i+=1

    growth_df = pd.DataFrame(growth_data, columns=['size','frequency'])
    return growth_df

In [ ]:
qk_randdata = SimulateQuickSort(quickSort, randLst_Ngroups)
qkdata = qk_randdata
qkdata.head(10)

Length: 100, Frequency: 695
Length: 200, Frequency: 2427
Length: 500, Frequency: 7935
Length: 1000, Frequency: 18684
Length: 2000, Frequency: 43781
Length: 5000, Frequency: 114601
Length: 10000, Frequency: 282698
Length: 15000, Frequency: 542841
Length: 20000, Frequency: 890589

    size  frequency
0    100        695
1    200       2427
2    500       7935
3   1000      18684
4   2000      43781
5   5000     114601
6  10000     282698
7  15000     542841
8  20000     890589

In [ ]:
count = 0
qk_realdata = SimulateQuickSort(quickSort, realLst_Ngroups)
qkdata = qk_realdata
qkdata.head(10)

Length: 100, Frequency: 828
Length: 200, Frequency: 3515
Length: 500, Frequency: 17569
Length: 1000, Frequency: 70649
Length: 2000, Frequency: 277794
Length: 5000, Frequency: 1537576
Length: 10000, Frequency: 6525820
Length: 15000, Frequency: 6786784
Length: 20000, Frequency: 26670279

    size  frequency
0    100        828
1    200       3515
2    500      17569
3   1000      70649
4   2000     277794
5   5000    1537576
6  10000    6525820
7  15000    6786784
8  20000   26670279

In [ ]:
count = 0
qk_convdata = SimulateQuickSort(quickSort, convLst_Ngroups)
qkdata = qk_convdata
qkdata.head(10)

Length: 100, Frequency: 4950
Length: 200, Frequency: 24850
Length: 500, Frequency: 149600
Length: 1000, Frequency: 649100
Length: 2000, Frequency: 2648100
Length: 5000, Frequency: 15145600
Length: 10000, Frequency: 65140600
Length: 15000, Frequency: 177633100
Length: 20000, Frequency: 377623100

    size  frequency
0    100       4950
1    200      24850
2    500     149600
3   1000     649100
4   2000    2648100
5   5000   15145600
6  10000   65140600
7  15000  177633100
8  20000  377623100